// === Footer ===

.section-footer {
    margin-top: 100px;
    background-color: $color_section;

    .section-inner {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    &-left {

        &-logo {

            img {
                height: 25px;
            }
        }

        &-text {
            display: flex;
            margin: 40px 0 50px 0;


            @media ($media_md) {
                margin: 50px 0 60px 0;
            }

            @media ($media_sm) {
                margin: 40px 0 50px 0;
                display: flex;
                justify-content: space-between;
            }

            @media ($media_xs) {
                flex-direction: column;
            }

            &-item {
                margin-right: 50px;

                @media ($media_xl) {
                    margin-right: 30px;
                }

                @media ($media_sm) {
                    margin: 0;
                }

                @media ($media_xs) {
                    margin: 15px 0;
                }    

                h3 {
                    @include font-header;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                p {
                    color: $color_subheader;
                    line-height: 22px;
                    font-size: 15px;
                }
            }
        }

        &-subtext {
            p {
                @include font-header;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 12px;
            }

            @media ($media_md) {
                margin: 20px 0;
            }
        }

        &-icons {
            img {
                width: 50px;
                margin-top: 40px;

                @media ($media_md) {
                    width: 45px;
                }

                @media ($media_sm) {
                    width: 50px;
                }

                @media ($media_xs) {
                    width: 40px;
                }

                &:not(:last-child) {
                    margin-right: 10px;

                    @media ($media_sm) {
                        margin-right: 0;
                    }
                }
            }

            @media ($media_sm) {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 40px;
            }
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            margin-bottom: 20px;

            input, textarea {
                border: none;
                padding: 14px 18px;

                @media ($media_md) {
                    padding: 12px 18px;
                }
            }

            textarea {
                resize: none;
                grid-column-start: 1;
                grid-column-end: 4;
            }

            @media ($media_xl) {
                grid-template-columns: 180px 180px 180px;
            }

            @media ($media_lg) {
                grid-template-columns: 200px 200px;

                input[type="email"] {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                textarea {
                    grid-column-end: 3;
                }
            }

            @media ($media_md) {
                grid-template-columns: 1fr;

                input[type="email"], textarea {
                    grid-column: auto;
                }
            }
        }

        &-button {
            text-align: right;
        }

        &-copyright {
            text-align: right;
            color: $color_subheader;
            font-size: 14px;

            @media ($media_sm) {
                margin-top: 20px;
            }
        }

        @media ($media_md) {
            width: 50%;
        }

        @media ($media_sm) {
            width: 100%;
        }

    }
}


// === / Footer ===