// === Mixins ===

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@mixin font-secondary {
    font-family: 'Poppins', sans-serif;
}

@mixin font-header {
    @include font-secondary;
    color: $color_header;
    font-weight: bold;
}

@mixin container-padding {
    padding: 0 100px;

    @media ($media_xl) {
        padding: 0 60px;
    }

    @media ($media_lg) {
        padding: 0 20px;
    }

    @media ($media_md) {
        padding: 0;
    }
}

button, input[type="submit"] {
    @include font-secondary;
    background-color: $color_yellow;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    text-transform: uppercase;
}

.lSAction > a {
    background-image: url(/dist/img/controls.svg);
    opacity: 1;
    width: 46px;
    height: 46px;
    margin-top: -90px;

    &.lSPrev {
        transform: rotate(180deg);
        left: -100px;

        @media ($media_lg) {
            left: -70px;
        }
    }

    &.lSNext {
        background-position: 0;
        right: -100px;

        @media ($media_lg) {
            right: -70px;
        }
    }
}

.lSSlideOuter .lSPager.lSpg {
    li {
        a {
            background-color: #C4C4C4;
            transition: none;
        }

        &.active, &:hover {
            a {
                background-color: #fff;
                border: 2px solid $color_yellow;
                width: 10px;
                height: 10px;
                margin-bottom: -1px;
            }
        }
    }
}

// === / Mixins ===

// === / Header ===

.section-header {

    .section-inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        img {
            height: 25px;
        }
    }

    &-info {
        display: flex;
        align-items: center;

        &-phone {
            align-self: flex-start;
            margin-top: 8px;
        }

        &-text {
            margin: 0 25px 0 20px;

            &-top {
                @include font-header;
                font-size: 24px;
                line-height: 36px;
            }

            &-bottom {
                @include font-header;
                font-size: 12px;
                line-height: 12px;
            }
        }

        &-button {

        }
    }
}
// === / Header ===


// === SubHeader ===

.section-subheader {
    background-color: $color_section;

    .section-inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-nav {
        ul {
            display: flex;

            li {
                &:not(:last-child) {
                    margin-right: 40px;

                    @media ($media_md) {
                        margin-right: 30px;
                    }
                }

                a {
                    @include font-header;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    cursor: pointer;
                    text-decoration: none;

                    padding: 28px 0;
                    border-bottom: 2px solid transparent;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border-bottom: 2px solid $color_yellow;
                    }
                }
            }
        }
    }

    &-location {

        &-text {
            display: flex;
            @include font-header;
            color: $color_subheader;
            font-size: 14px;
            line-height: 21px;

            @media ($media_md) {
                flex-direction: column;
            }

            &-block {
                display: flex;
                color: #AB9478;
                margin-left: 20px;
                cursor: pointer;

                @media ($media_md) {
                    margin: 5px 0 0 0;
                }
    

                img {
                    margin-right: 5px;
                }

                span {
                    border-bottom: 1px solid #AB9478;
                }
            }
        }
    }
}

// === / SubHeader ===