// === Mixins ===

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@mixin font-secondary {
    font-family: 'Poppins', sans-serif;
}

@mixin font-header {
    @include font-secondary;
    color: $color_header;
    font-weight: bold;
}

@mixin header-font-size {
    @include font-header;
    font-size: 45px;
    line-height: 50px;
    text-align: center;

    @media ($media_xs) {
        font-size: 40px;
    }
}
@mixin container-padding {
    padding: 0 100px;

    @media ($media_xl) {
        padding: 0 60px;
    }

    @media ($media_lg) {
        padding: 0 20px;
    }

    @media ($media_md) {
        padding: 0;
    }
}

.main-header {
    @include header-font-size;
}

button, input[type="submit"] {
    @include font-secondary;
    background-color: $color_yellow;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    text-transform: uppercase;
}

.lSAction > a {
    background-image: url(/dist/img/controls.svg);
    opacity: 1;
    width: 46px;
    height: 46px;
    margin-top: -90px;

    &.lSPrev {
        transform: rotate(180deg);
        left: -100px;

        @media ($media_lg) {
            left: -70px;
        }
    }

    &.lSNext {
        background-position: 0;
        right: -100px;

        @media ($media_lg) {
            right: -70px;
        }
    }
}

.lSSlideOuter .lSPager.lSpg {
    li {
        a {
            background-color: #C4C4C4;
            transition: none;
        }

        &.active, &:hover {
            a {
                background-color: #fff;
                border: 2px solid $color_yellow;
                width: 10px;
                height: 10px;
                margin-bottom: -1px;
            }
        }
    }
}

// === / Mixins ===

// === / Header ===

.section-header {

    .section-inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media ($media_sm) {
        border-bottom: 2px solid $color_section;
    }

    &-logo {
        img {
            height: 25px;
        }
    }

    &-info {
        display: flex;
        align-items: center;

        &-phone {
            align-self: flex-start;
            margin-top: 8px;
        }

        &-text {
            margin: 0 25px 0 20px;

            &-top {
                @include font-header;
                font-size: 24px;
                line-height: 36px;
            }

            &-bottom {
                @include font-header;
                font-size: 12px;
                line-height: 12px;
            }
        }

        &-button {

        }

        @media ($media_sm) {
            display: none;
        }
    }

    &-button {
        display: none;

        @media ($media_sm) {
            display: block;
        }
        .close_button {
            overflow: hidden;
            width: 21px;
            height: 21px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1px;

            input {
                display: flex;
                width: 21px;
                height: 21px;
                position: absolute;
                cursor: pointer;
                opacity: 0;
                z-index: 1;
            }

            input:checked ~ span {
                background-color: $color_subheader;
                width: 27px;
                margin: 0;
            }

            input:checked ~ #span1 {
                transform: rotate(135deg) translate(1px, 1px);
                transform-origin: bottom;
            }

            input:checked ~ #span2 {
                transform: rotate(45deg) translate(1px, -1px);
                transform-origin: top;
            }

            input:checked ~ #span3 {
                transform: rotate(45deg);
                opacity: 0;
            }
              
            span {
                width: 21px;
                height: 4px;
                margin-bottom: 4px;
                background: $color_header;
                border-radius: 4px;
                transition: all .5s cubic-bezier(.08,.81,.87,.71);
            }

            span:last-child {
                margin-bottom: 0;
            }

            #span1 {
                transform-origin: 4px 0px;
            }

            #span3 {
                transform-origin: bottom right;
            }
        }
    }
}
// === / Header ===


// === SubHeader ===

.section-subheader {
    background-color: $color_section;

    @media ($media_sm) {
        display: none;
    }

    .section-inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0;
        }
    }

    &-nav {
        ul {
            display: flex;

            @media ($media_sm) {
                flex-direction: column;
            }
            

            li {
                &:not(:last-child) {
                    margin-right: 40px;

                    @media ($media_md) {
                        margin-right: 30px;
                    }
                }

                a {
                    @include font-header;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    cursor: pointer;
                    text-decoration: none;

                    padding: 28px 0;
                    border-bottom: 2px solid transparent;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border-bottom: 2px solid $color_yellow;
                    }

                    @media ($media_sm) {
                        padding: 15px 0;
                    }
                }

                @media ($media_sm) {
                    margin: 20px 0;
                }
            }
        }
    }

    &-location {

        &-text {
            display: flex;
            @include font-header;
            color: $color_subheader;
            font-size: 14px;
            line-height: 21px;

            @media ($media_md) {
                flex-direction: column;
            }

            @media ($media_sm) {
                flex-direction: row;
                margin: 30px 0;
            }

            &-block {
                display: flex;
                color: #AB9478;
                margin-left: 20px;
                cursor: pointer;

                @media ($media_md) {
                    margin: 5px 0 0 0;
                }

                @media ($media_sm) {
                    margin: 0 0 0 20px;
                }  

                img {
                    margin-right: 5px;
                }

                span {
                    border-bottom: 1px solid #AB9478;
                }
            }
        }
    }


    &-info {
        display: none;

        &-phone {
            align-self: flex-start;
            margin-top: 8px;

            @media ($media_sm) {
                margin-top: 28px;
            }
        }

        &-text {
            margin: 0 25px 0 20px;

            &-top {
                @include font-header;
                font-size: 24px;
                line-height: 36px;
            }

            &-bottom {
                @include font-header;
                font-size: 12px;
                line-height: 12px;
            }

            @media ($media_sm) {
                order: -1;
                margin: 20px 25px 20px 0;
            }
        }

        &-button {
            @media ($media_sm) {
                width: 100%;
            }
        }

        @media ($media_sm) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

// === / SubHeader ===